.footerContainer {
    width: 100%;
    min-height: 237px;

    box-sizing: border-box;

    display: flex;
    justify-content: center;

    padding: 30px 86px 18px;

    border-radius: 18px 18px 0 0;

    background-color: #1b0047;
}

.footer {
    width: 100%;
    max-width: 1268px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 30px;
}

.footerContent {
    display: flex;
    flex-direction: column;

    gap: 28px;
}

.logo {
    height: 24px;

    display: flex;
    align-items: center;
}

.logo img {
    width: auto;
    height: 100%;

    object-fit: contain;
}

.footerMessage {
    display: flex;
    flex-direction: column;

    gap: 12px;
}

.footerDescription {
    margin: 0;

    font-family: var(--font-main);
    font-size: 14px;
    font-weight: var(--weight-regular);
    line-height: 1.4;

    color: #ffffff;
}

.footerText {
    max-width: 1180px;

    margin: 0;

    font-family: var(--font-main);
    font-size: 11px;
    font-weight: var(--weight-regular);
    line-height: 1.5;

    color: rgba(255, 255, 255, 0.45);
}

.footerCopyrightContainer {
    width: 100%;

    box-sizing: border-box;

    padding-top: 14px;

    border-top: 1px solid rgba(255, 255, 255, 0.12);
}

.footerCopyright {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 30px;

    font-family: var(--font-main);
    font-size: 12px;
    font-weight: var(--weight-regular);

    color: rgba(255, 255, 255, 0.45);
}

.copyright {
    display: flex;
    align-items: center;

    gap: 16px;
}

.copyright span {
    white-space: nowrap;
}

.social {
    display: flex;
    align-items: center;

    gap: 10px;
}

.social span {
    white-space: nowrap;
}

.social img {
    width: 132px;
    height: 20px;

    object-fit: contain;
}


@media (max-width: 1024px) {
    .footerContainer {
        min-height: 272px;

        align-items: flex-start;

        padding: 24px 16px 18px;

        border-radius: 14px 14px 0 0;
    }

    .footer {
        max-width: 328px;

        gap: 20px;
    }

    .footerContent {
        gap: 25px;
    }

    .footerText {
        font-size: 11px;
    }

    .footerCopyright {
        flex-direction: column;
        align-items: flex-start;

        gap: 12px;

        font-size: 11px;
    }

    .copyright {
        gap: 10px;
    }

    .social {
        flex-direction: column;
        align-items: flex-start;

        gap: 8px;
    }

    .social span {
        font-size: 11px;
    }

    .social img {
        width: 132px;
        height: 20px;
    }
}