.skills {
    margin-top: 24px;
    padding: 24px;

    background: var(--white-color-900);
    border-radius: 12px;
}

.skills h2 {
    margin: 0 0 16px;

    font-family: var(--font-main);
    font-size: 20px;
    font-weight: var(--weight-semibold);
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.skill {
    padding: 6px 12px;

    border-radius: 6px;

    background: var(--purple-color-100);
    color: var(--purple-color-1000);

    font-family: var(--font-main);
    font-size: 13px;
}